@tailwind base;

:root {
  --primary: #3c154e;
  --secondary: #532968;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 12px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@import url('@public/font/flaticon.css');
@import url('react-responsive-carousel/lib/styles/carousel.min.css');
@import url('react-tooltip/dist/react-tooltip.css');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

body {
  background: #2d093e;
}

@media only screen and (min-width: 1024px) {
  .backgroundContent {
    position: relative;
  }

  .backgroundContent::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: #2d093e;
    background-image: url('/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: bottom bottom;
    opacity: 0.2;
    z-index: -1;
  }
}

.flaticon-chart {
  background-image: url('/chart.svg');
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.gutter {
  padding-right: 24px;
}

@supports (scrollbar-gutter: stable) {
  .gutter {
    scrollbar-gutter: stable;
    padding-right: 12px;
  }
}
