@tailwind base;

:root {
  --primary: #3c154e;
  --secondary: #532968;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 12px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@import url('@public/font/flaticon.css');
@import url('react-responsive-carousel/lib/styles/carousel.min.css');
@import url('react-tooltip/dist/react-tooltip.css');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

body {
  background: #2d093e;
}

@media only screen and (min-width: 1024px) {
  .backgroundContent {
    position: relative;
  }

  .backgroundContent::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: #2d093e;
    background-image: url('/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: bottom bottom;
    opacity: 0.2;
    z-index: -1;
  }
}

.flaticon-chart {
  background-image: url('/chart.svg');
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.gutter {
  padding-right: 24px;
}

@supports (scrollbar-gutter: stable) {
  .gutter {
    scrollbar-gutter: stable;
    padding-right: 12px;
  }
}

.css-b62m3t-container {
  flex: 1 1 0% !important;
}

.css-13cymwt-control {
  background: #532968 !important;
  border: 2px solid #532968 !important;
  border-radius: 12px !important;
}

.css-t3ipsp-control {
  background: #532968 !important;
  border: 2px solid #532968 !important;
  border-radius: 12px !important;
  box-shadow: 0 0 0 0 !important;
}

.css-1dimb5e-singleValue {
  font-size: 16px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.css-166bipr-Input {
  font-size: 16px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.css-1cfo1cf {
  font-size: 16px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.css-1u9des2-indicatorSeparator {
  background-color: #ffffff50 !important;
}

.css-1xc3v61-indicatorContainer {
  color: #ffffff50 !important;
}

.css-15lsz6c-indicatorContainer {
  color: #ffffff50 !important;
}

.css-1nmdiq5-menu {
  background: #250936 !important;
  width: 110% !important;
}

.css-tr4s17-option {
  font-size: 16px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  background-color: #532968 !important;
}

.css-10wo9uf-option {
  font-size: 16px !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
}

.css-d7l1ni-option {
  background-color: #532968 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  color: #ffffff !important;
}

@media only screen and (max-width: 480px) {
  .css-1nmdiq5-menu {
    width: calc(100vw - 32px) !important;
  }
}
